/* место для вашего кода */
.header {
    display: flex;
    justify-content: space-between;
    width: 1052px;
    height: 105px;
    margin: 92px 24px;
    font-family: Raleway, sans-serif;
    align-items: center;
    padding: 35px;
}

.navigation {
    display: flex;
    list-style: circle;
    width: 33.3%;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0%;
    gap: 30px;
}

.main_link {
    text-decoration: none;
}

.header_logo {
    width: 148px;
    height: 105px;
}


address {
    display: inline;
    padding-right: 24px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 70px;
    line-height: 135%;
}

.cover {
    background: url(/images/cover.jpg);
    background-size: cover;
    width: 1100px;
    height: 757px;
    margin-top: 95px;
}

.cover_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.space_letter {
    letter-spacing: 0.4em;
}

.letter-top {
    text-align: left;
}

.letter_center {
    text-align: center;
}

.letter_bottom {
    text-align: right;
}

.cover_subtitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}
.bottom_menu {
    margin-top: 120px;
    display: flex;
    word-spacing: 15px;
    align-items: left;
    padding-left: 78px;
    justify-content: space-between;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    width: 1100px;
    height: 757px;
    font-family: Raleway, sans-serif;
    padding: 165px 50px 50px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    
}

.bet-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.lots {
    margin-top: 90px;
}

.lots_title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin: 179px 0 27px 10px;

}

.lots a {
    height: 100%;
    text-decoration: none;
}

.lots ul {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    color: #fff;
    padding-bottom: 30px;
}

.overlay_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
    height: 563px;
    
}

.overlay_cards h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.overlay_cards p {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}


.card_1 {
    background: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_2 {
    background: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_3 {
    background: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.lots_link_lookmore {
    width: 191px;
    top: 692px;
    left: 40px;
    border-bottom: 1px solid black;
    
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 185px 0 0 80px;
    
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: black;
}

.about_logo img {
    height: 130px;
    width: 130px;
}

.about_text {
    margin-top: 100px;
}

.about_text h2 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.about_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 80px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 180px 20px;
}

.navigation_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.no_bullet {
    list-style-type: none;
}

.footer_logo_container {
    display: flex;
    gap: 60px;
}

.socials_logo {
    height: 48px;
    width: 48px;
}

